global:
  scrape_interval: 3s

scrape_configs:
  - job_name: 'etcd'
    static_configs:
    - targets:
      - <IP>:<PORT> 
      - <IP>:<PORT>
      - <IP>:<PORT>
      - <IP>:<PORT>
      - <IP>:<PORT> 
