{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Upload Photo</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Upload Photo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>New Photo</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row col-md-6">
                                                {% if msg %}
                                                    <span class="text-success">{{ msg }}</span>
                                                {% endif %} 
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {%if data and key%}
                                                    <form action="{{ url_for('photoUpload_blueprint.putPhoto') }}" method="post" enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="key">Key</label>
                                                            <input type="text" class="form-control" id="key" name="key" placeholder="Enter the key" value={{key}}>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Image</label>
                                                            <img src={{data.img}} width="100">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Created At</label>
                                                            <span src={{key}} width="100">{{data.created_at}}</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="value">New Image</label>
                                                            <input type="file" class="form-control" id="value" name="image" placeholder="Enter the Value">
                                                        </div>
                                                        <button type="submit" name="savePhoto" class="btn btn-primary">Update Image</button>
                                                    </form>
                                                    {% else %}
                                                    <form action="{{ url_for('photoUpload_blueprint.putPhoto') }}" method="post" enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="key">Key</label>
                                                            <input type="text" class="form-control" id="key" name="key" placeholder="Enter the key">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="value">Image</label>
                                                            <input type="file" class="form-control" id="value" name="image" placeholder="Enter the Value">
                                                        </div>
                                                        <button type="submit" name="savePhoto" class="btn btn-primary">Upload New Image</button>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Input group -->
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
